html, body {
    font-family: "Open Sans", sans-serif;
}
.header {
    padding: 28px 0;
}
.menu {
    list-style: none;
    padding-left: 0;
    max-width: 496px;
    margin: auto;
}
.menu_item {
    width: calc(20% - 4px);
    display: inline-block;
    text-align: center;
}
.menu_link {
    text-decoration: none;
    font-size: 18px;
  line-height: 1.2;
  color: #828282;
}
.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}
.menu_link.is-active {
  color: #000;
}
.menu_link:hover {
  color: #000;
}
.divider {
  border: none;
  height: 1px;
  background: #828282;
  margin: 28px 0 0;
}
.hero h1{
  margin: 0 0 32px;
  font-size: 47px;
  line-height: 1.15;
  font-weight: 700;
}
.hero img{
  width: 100%;
  height: 388px;
  object-fit: cover;
  display: block;
}
.page {
  width: 1440px;
  margin: 0 auto;

}
.about {
  background: #f6f6f6;     
  padding: 100px 0;
    max-width: 1440px;
  margin: 0 auto; 
 
}        
.about_container {
  width: 970px;            
  margin: 0 auto;           
}

.about_title {
  width: 200px;            
  height: 40px;            
  margin: 0 auto 30px;      

  font-family: "Open Sans", Arial, sans-serif; 
  font-size: 34px;         
  font-weight: 700;         
  line-height: 40px;        
  text-align: center;       
}

.about_text {
  width: 480px;           
  height: 210px;            
  margin: 0 auto;           

  text-align: center;       
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;       
}

.about_text p {
  margin: 0 0 22px;         
}

.about_text p:last-child {
  margin-bottom: 0;}
